https://www.guru99.com/pyspark-tutorial.html
    

https://databricks.com/blog/2020/03/31/10-minutes-from-pandas-to-koalas-on-apache-spark.html

https://databricks.com/blog/2019/04/24/koalas-easy-transition-from-pandas-to-apache-spark.html

https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/8266758089056472/1487766102750011/5693546805547978/latest.html

https://www.programiz.com/python-programming/regex

https://www.analyticsvidhya.com/blog/2017/02/top-28-cheat-sheets-for-machine-learning-data-science-probability-sql-big-data/

https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/

https://www.guru99.com/python-regular-expressions-complete-tutorial.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

https://towardsdatascience.com/pyspark-and-sparksql-basics-6cb4bf967e53

https://sparkbyexamples.com/spark/spark-collect-list-and-collect-set-functions/


https://gist.github.com/bsweger/e5817488d161f37dcbd2  useful pandas snippets

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os 
import datetime
from requests import get
from os import path, getcwd, makedirs, listdir
from io import BytesIO
from zipfile import ZipFile
import timeit

#pip install koalas

In [2]:
#os.environ
os.getenv('SPARK_HOME')

'C:\\Spark\\spark-3.1.1-bin-hadoop2.7'

In [4]:
#!pip install findspark

In [3]:
import findspark
findspark.init()

In [4]:
import pyspark
#Import koalas:
import databricks.koalas as ks

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [5]:
from pyspark import SQLContext
from pyspark.sql import SparkSession 
 
conf = pyspark.SparkConf() 
 
sc = pyspark.SparkContext.getOrCreate(conf=conf)
#sqlcontext = SQLContext(sc)
spark = SparkSession(sc)

In [6]:
os.getcwd()

'C:\\Users\\hp\\Downloads\\TEST projects'

In [5]:
os.chdir("C:\\Users\\hp\\Downloads\\TEST_projects")

In [ ]:
#create folder:
folder_data = 'data'

if not os.path.exists(folder_data):
    os.makedirs(folder_data)
else:
    print('Folder already exists')
        
#loop through all files (from url) starting at month 1 to 12:
for month in range(1,13):
    month_string = str(month)
    month_leading_zero = month_string.zfill(2)
    
    #scrape URL:                                                      +01, 02, 03...eg:201801-fordgobike-tripdata.csv.zip
    bike_data_url = 'https://s3.amazonaws.com/fordgobike-data/2018' + month_leading_zero + '-fordgobike-tripdata.csv.zip'
    response = get(bike_data_url)

    # code below opens zip file; BytesIO returns a view of the contents;
    unzipped_file = ZipFile(BytesIO(response.content))

    # place extracted zip files into folder_data
    unzipped_file.extractall(folder_data)

In [6]:
%%time

#import all csv files into a spark df: 12 files
df = spark.read.option("header", "true").csv('C:\\Users\\hp\\Downloads\\TEST projects\\data\\*.csv')

Wall time: 13.3 s

In [16]:
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
%%time

#check df:
df.show(vertical=True)

-RECORD 0---------------------------------------
 duration_sec            | 80066
 start_time              | 2018-10-31 20:49:...
 end_time                | 2018-11-01 19:03:...
 start_station_id        | 138
 start_station_name      | Jersey St at Chur...
 start_station_latitude  | 37.7509004
 start_station_longitude | -122.4274114
 end_station_id          | 147
 end_station_name        | 29th St at Tiffan...
 end_station_latitude    | 37.7440667
 end_station_longitude   | -122.4214722
 bike_id                 | 3458
 user_type               | Customer
 member_birth_year       | 1987
 member_gender           | Female
 bike_share_for_all_trip | No
-RECORD 1---------------------------------------
 duration_sec            | 56428
 start_time              | 2018-10-31 20:18:...
 end_time                | 2018-11-01 11:58:...
 start_station_id        | 75
 start_station_name      | Market St at Fran...
 start_station_latitude  | 37.7737932060887
 start_station_longitude | -122.42123901844025
 end_station_id          | 86
 end_station_name        | Market St at Dolo...
 end_station_latitude    | 37.7693053
 end_station_longitude   | -122.4268256
 bike_id                 | 1798
 user_type               | Customer
 member_birth_year       | null
 member_gender           | null
 bike_share_for_all_trip | No
-RECORD 2---------------------------------------
 duration_sec            | 44825
 start_time              | 2018-10-31 20:07:...
 end_time                | 2018-11-01 08:34:...
 start_station_id        | 139
 start_station_name      | Garfield Square (...
 start_station_latitude  | 37.7510171
 start_station_longitude | -122.4119009
 end_station_id          | 122
 end_station_name        | 19th St at Missio...
 end_station_latitude    | 37.760299
 end_station_longitude   | -122.418892
 bike_id                 | 1575
 user_type               | Customer
 member_birth_year       | 1983
 member_gender           | Female
 bike_share_for_all_trip | No
-RECORD 3---------------------------------------
 duration_sec            | 55461
 start_time              | 2018-10-31 17:06:...
 end_time                | 2018-11-01 08:30:...
 start_station_id        | 67
 start_station_name      | San Francisco Cal...
 start_station_latitude  | 37.7766392
 start_station_longitude | -122.3955263
 end_station_id          | 16
 end_station_name        | Steuart St at Mar...
 end_station_latitude    | 37.79413
 end_station_longitude   | -122.39443
 bike_id                 | 2978
 user_type               | Subscriber
 member_birth_year       | 1992
 member_gender           | Female
 bike_share_for_all_trip | No
-RECORD 4---------------------------------------
 duration_sec            | 47724
 start_time              | 2018-10-31 18:27:...
 end_time                | 2018-11-01 07:43:...
 start_station_id        | 259
 start_station_name      | Addison St at Fou...
 start_station_latitude  | 37.866249
 start_station_longitude | -122.2993708
 end_station_id          | 259
 end_station_name        | Addison St at Fou...
 end_station_latitude    | 37.866249
 end_station_longitude   | -122.2993708
 bike_id                 | 2392
 user_type               | Customer
 member_birth_year       | null
 member_gender           | null
 bike_share_for_all_trip | No
-RECORD 5---------------------------------------
 duration_sec            | 32818
 start_time              | 2018-10-31 20:54:...
 end_time                | 2018-11-01 06:01:...
 start_station_id        | 345
 start_station_name      | Hubbell St at 16t...
 start_station_latitude  | 37.76647421515012
 start_station_longitude | -122.39829540252686
 end_station_id          | 109
 end_station_name        | 17th St at Valenc...
 end_station_latitude    | 37.7633158
 end_station_longitude   | -122.4219039
 bike_id                 | 1466
 user_type               | Customer
 member_birth_year       | 1975
 member_gender           | Male
 bike_share_for_all_trip | No
-RECORD 6---------------------------------------
 duration_sec            | 18888
 start_time              | 2018-10-31 21:43:...
 end_time                | 2018-11-01 02:58:...
 start_station_id        | 17
 start_station_name      | Embarcadero BART ...
 start_station_latitude  | 37.792251
 start_station_longitude | -122.397086
 end_station_id          | 74
 end_station_name        | Laguna St at Haye...
 end_station_latitude    | 37.776434819204745
 end_station_longitude   | -122.42624402046204
 bike_id                 | 4452
 user_type               | Subscriber
 member_birth_year       | 1995
 member_gender           | Female
 bike_share_for_all_trip | No
-RECORD 7---------------------------------------
 duration_sec            | 1786
 start_time              | 2018-10-31 23:44:...
 end_time                | 2018-11-01 00:13:...
 start_station_id        | 323
 start_station_name      | Broadway at Kearny
 start_station_latitude  | 37.79801364395978
 start_station_longitude | -122.40595042705534
 end_station_id          | 27
 end_station_name        | Beale St at Harri...
 end_station_latitude    | 37.7880593
 end_station_longitude   | -122.3918648
 bike_id                 | 4050
 user_type               | Subscriber
 member_birth_year       | 1977
 member_gender           | Male
 bike_share_for_all_trip | No
-RECORD 8---------------------------------------
 duration_sec            | 4391
 start_time              | 2018-10-31 23:00:...
 end_time                | 2018-11-01 00:13:...
 start_station_id        | 241
 start_station_name      | Ashby BART Station
 start_station_latitude  | 37.8524766
 start_station_longitude | -122.2702132
 end_station_id          | 272
 end_station_name        | Woolsey St at Sac...
 end_station_latitude    | 37.850577684047856
 end_station_longitude   | -122.27817535400389
 bike_id                 | 1789
 user_type               | Customer
 member_birth_year       | null
 member_gender           | null
 bike_share_for_all_trip | No
-RECORD 9---------------------------------------
 duration_sec            | 1752
 start_time              | 2018-10-31 23:40:...
 end_time                | 2018-11-01 00:09:...
 start_station_id        | 81
 start_station_name      | Berry St at 4th St
 start_station_latitude  | 37.77588
 start_station_longitude | -122.39317
 end_station_id          | 3
 end_station_name        | Powell St BART St...
 end_station_latitude    | 37.78637526861584
 end_station_longitude   | -122.40490436553954
 bike_id                 | 1525
 user_type               | Subscriber
 member_birth_year       | 1986
 member_gender           | Other
 bike_share_for_all_trip | Yes
-RECORD 10--------------------------------------
 duration_sec            | 577
 start_time              | 2018-10-31 23:58:...
 end_time                | 2018-11-01 00:08:...
 start_station_id        | 93
 start_station_name      | 4th St at Mission...
 start_station_latitude  | 37.7704074
 start_station_longitude | -122.3911984
 end_station_id          | 122
 end_station_name        | 19th St at Missio...
 end_station_latitude    | 37.760299
 end_station_longitude   | -122.418892
 bike_id                 | 4436
 user_type               | Subscriber
 member_birth_year       | 1994
 member_gender           | Male
 bike_share_for_all_trip | No
-RECORD 11--------------------------------------
 duration_sec            | 689
 start_time              | 2018-10-31 23:53:...
 end_time                | 2018-11-01 00:04:...
 start_station_id        | 43
 start_station_name      | San Francisco Pub...
 start_station_latitude  | 37.7787677
 start_station_longitude | -122.4159292
 end_station_id          | 55
 end_station_name        | Webster St at Gro...
 end_station_latitude    | 37.7770527
 end_station_longitude   | -122.4295585
 bike_id                 | 2103
 user_type               | Subscriber
 member_birth_year       | 1992
 member_gender           | Male
 bike_share_for_all_trip | No
-RECORD 12--------------------------------------
 duration_sec            | 583
 start_time              | 2018-10-31 23:51:...
 end_time                | 2018-11-01 00:01:...
 start_station_id        | 97
 start_station_name      | 14th St at Missio...
 start_station_latitude  | 37.7682646
 start_station_longitude | -122.4201102
 end_station_id          | 67
 end_station_name        | San Francisco Cal...
 end_station_latitude    | 37.7766392
 end_station_longitude   | -122.3955263
 bike_id                 | 1834
 user_type               | Customer
 member_birth_year       | null
 member_gender           | null
 bike_share_for_all_trip | No
-RECORD 13--------------------------------------
 duration_sec            | 245
 start_time              | 2018-10-31 23:57:...
 end_time                | 2018-11-01 00:01:...
 start_station_id        | 308
 start_station_name      | San Pedro Square
 start_station_latitude  | 37.336802
 start_station_longitude | -121.8940901
 end_station_id          | 305
 end_station_name        | Ryland Park
 end_station_latitude    | 37.342725
 end_station_longitude   | -121.895617
 bike_id                 | 254
 user_type               | Subscriber
 member_birth_year       | 1995
 member_gender           | Male
 bike_share_for_all_trip | Yes
-RECORD 14--------------------------------------
 duration_sec            | 765
 start_time              | 2018-10-31 23:46:...
 end_time                | 2018-10-31 23:59:...
 start_station_id        | 350
 start_station_name      | 8th St at Brannan St
 start_station_latitude  | 37.771431362921085
 start_station_longitude | -122.40578681230545
 end_station_id          | 56
 end_station_name        | Koshland Park
 end_station_latitude    | 37.77341396997343
 end_station_longitude   | -122.42731690406801
 bike_id                 | 1908
 user_type               | Subscriber
 member_birth_year       | 1984
 member_gender           | Male
 bike_share_for_all_trip | No
-RECORD 15--------------------------------------
 duration_sec            | 776
 start_time              | 2018-10-31 23:43:...
 end_time                | 2018-10-31 23:56:...
 start_station_id        | 60
 start_station_name      | 8th St at Ringold St
 start_station_latitude  | 37.77452040113685
 start_station_longitude | -122.4094493687153
 end_station_id          | 368
 end_station_name        | Myrtle St at Polk St
 end_station_latitude    | 37.78543382786823
 end_station_longitude   | -122.41962164640428
 bike_id                 | 1321
 user_type               | Subscriber
 member_birth_year       | 1986
 member_gender           | Male
 bike_share_for_all_trip | No
-RECORD 16--------------------------------------
 duration_sec            | 1061
 start_time              | 2018-10-31 23:38:...
 end_time                | 2018-10-31 23:56:...
 start_station_id        | 341
 start_station_name      | Fountain Alley at...
 start_station_latitude  | 37.33618830029063
 start_station_longitude | -121.88927650451659
 end_station_id          | 357
 end_station_name        | 2nd St at Julian St
 end_station_latitude    | 37.34113203547954
 end_station_longitude   | -121.89284384250641
 bike_id                 | 352
 user_type               | Subscriber
 member_birth_year       | 1994
 member_gender           | Male
 bike_share_for_all_trip | Yes
-RECORD 17--------------------------------------
 duration_sec            | 171
 start_time              | 2018-10-31 23:53:...
 end_time                | 2018-10-31 23:56:...
 start_station_id        | 133
 start_station_name      | Valencia St at 22...
 start_station_latitude  | 37.7552126
 start_station_longitude | -122.4209752
 end_station_id          | 98
 end_station_name        | Valencia St at 16...
 end_station_latitude    | 37.765052
 end_station_longitude   | -122.4218661
 bike_id                 | 3610
 user_type               | Subscriber
 member_birth_year       | 1993
 member_gender           | Male
 bike_share_for_all_trip | No
-RECORD 18--------------------------------------
 duration_sec            | 1043
 start_time              | 2018-10-31 23:38:...
 end_time                | 2018-10-31 23:55:...
 start_station_id        | 341
 start_station_name      | Fountain Alley at...
 start_station_latitude  | 37.33618830029063
 start_station_longitude | -121.88927650451659
 end_station_id          | 357
 end_station_name        | 2nd St at Julian St
 end_station_latitude    | 37.34113203547954
 end_station_longitude   | -121.89284384250641
 bike_id                 | 1269
 user_type               | Subscriber
 member_birth_year       | 1994
 member_gender           | Male
 bike_share_for_all_trip | Yes
-RECORD 19--------------------------------------
 duration_sec            | 1006
 start_time              | 2018-10-31 23:39:...
 end_time                | 2018-10-31 23:55:...
 start_station_id        | 341
 start_station_name      | Fountain Alley at...
 start_station_latitude  | 37.33618830029063
 start_station_longitude | -121.88927650451659
 end_station_id          | 357
 end_station_name        | 2nd St at Julian St
 end_station_latitude    | 37.34113203547954
 end_station_longitude   | -121.89284384250641
 bike_id                 | 2823
 user_type               | Subscriber
 member_birth_year       | 1993
 member_gender           | Male
 bike_share_for_all_trip | Yes
only showing top 20 rows

Wall time: 873 ms

In [16]:
%%time

#Read in using Koalas read_csv
kdf = ks.read_csv('C:\\Users\\hp\\Downloads\\TEST projects\\data\\*.csv', header=0, sep=",")
#this is slow, try converting to koalas from pyspark df

Wall time: 26.2 s

In [8]:
#to avoid whole partition in single node when converting spark df to koalas:
ks.set_option('compute.default_index_type', 'distributed')

In [9]:
%%time

#convert pyspark df to koalas df:
kdf = df.to_koalas() #this is efficient

Wall time: 896 ms

In [9]:
%%time

kdf.head(20) #display 20 records to make it equal to pyspark .show method

Wall time: 765 ms

   duration_sec                start_time                  end_time start_station_id                                         start_station_name start_station_latitude start_station_longitude end_station_id                                           end_station_name end_station_latitude end_station_longitude bike_id   user_type member_birth_year member_gender bike_share_for_all_trip
0         80066  2018-10-31 20:49:03.1400  2018-11-01 19:03:30.0550              138                                     Jersey St at Church St             37.7509004            -122.4274114            147                                     29th St at Tiffany Ave           37.7440667          -122.4214722    3458    Customer              1987        Female                      No
1         56428  2018-10-31 20:18:02.8810  2018-11-01 11:58:31.1460               75                                   Market St at Franklin St       37.7737932060887     -122.42123901844025             86                                    Market St at Dolores St           37.7693053          -122.4268256    1798    Customer              None          None                      No
2         44825  2018-10-31 20:07:13.3780  2018-11-01 08:34:19.3670              139                   Garfield Square (25th St at Harrison St)             37.7510171            -122.4119009            122                                      19th St at Mission St            37.760299           -122.418892    1575    Customer              1983        Female                      No
3         55461  2018-10-31 17:06:37.6830  2018-11-01 08:30:59.2200               67  San Francisco Caltrain Station 2  (Townsend St at 4th St)             37.7766392            -122.3955263             16                                    Steuart St at Market St             37.79413            -122.39443    2978  Subscriber              1992        Female                      No
4         47724  2018-10-31 18:27:36.8230  2018-11-01 07:43:01.5610              259                                    Addison St at Fourth St              37.866249            -122.2993708            259                                    Addison St at Fourth St            37.866249          -122.2993708    2392    Customer              None          None                      No
5         32818  2018-10-31 20:54:06.5050  2018-11-01 06:01:05.3020              345                                      Hubbell St at 16th St      37.76647421515012     -122.39829540252686            109                                     17th St at Valencia St           37.7633158          -122.4219039    1466    Customer              1975          Male                      No
6         18888  2018-10-31 21:43:43.0640  2018-11-01 02:58:31.2400               17           Embarcadero BART Station (Beale St at Market St)              37.792251             -122.397086             74                                      Laguna St at Hayes St   37.776434819204745   -122.42624402046204    4452  Subscriber              1995        Female                      No
7          1786  2018-10-31 23:44:10.7030  2018-11-01 00:13:56.9500              323                                         Broadway at Kearny      37.79801364395978     -122.40595042705534             27                                    Beale St at Harrison St           37.7880593          -122.3918648    4050  Subscriber              1977          Male                      No
8          4391  2018-10-31 23:00:13.7270  2018-11-01 00:13:25.1030              241                                         Ashby BART Station             37.8524766            -122.2702132            272                                Woolsey St at Sacramento St   37.850577684047856   -122.27817535400389    1789    Customer              None          None                      No
9          1752  2018-10-31 23:40:10.4300  2018-11-01 00:09:23.0920               81                                         Berry St at 4th St               37.77588              -122.39317              3               Powell St BART Station (Market St at 4th St)    37.78637526861584   -122.40490436553954    1525  Subscriber              1986         Other                     Yes
10          577  2018-10-31 23:58:54.3210  2018-11-01 00:08:31.8830               93                               4th St at Mission Bay Blvd S             37.7704074            -122.3911984            122                                      19th St at Mission St            37.760299           -122.418892    4436  Subscriber              1994          Male                      No
11          689  2018-10-31 23:53:01.3390  2018-11-01 00:04:30.6910               43         San Francisco Public Library (Grove St at Hyde St)             37.7787677            -122.4159292             55                                     Webster St at Grove St           37.7770527          -122.4295585    2103  Subscriber              1992          Male                      No
12          583  2018-10-31 23:51:54.0140  2018-11-01 00:01:37.7950               97                                      14th St at Mission St             37.7682646            -122.4201102             67  San Francisco Caltrain Station 2  (Townsend St at 4th St)           37.7766392          -122.3955263    1834    Customer              None          None                      No
13          245  2018-10-31 23:57:15.3810  2018-11-01 00:01:21.0630              308                                           San Pedro Square              37.336802            -121.8940901            305                                                Ryland Park            37.342725           -121.895617     254  Subscriber              1995          Male                     Yes
14          765  2018-10-31 23:46:47.5260  2018-10-31 23:59:33.1390              350                                       8th St at Brannan St     37.771431362921085     -122.40578681230545             56                                              Koshland Park    37.77341396997343   -122.42731690406801    1908  Subscriber              1984          Male                      No
15          776  2018-10-31 23:43:47.7870  2018-10-31 23:56:44.6770               60                                       8th St at Ringold St      37.77452040113685      -122.4094493687153            368                                       Myrtle St at Polk St    37.78543382786823   -122.41962164640428    1321  Subscriber              1986          Male                      No
16         1061  2018-10-31 23:38:39.7140  2018-10-31 23:56:21.0410              341                                 Fountain Alley at S 2nd St      37.33618830029063     -121.88927650451659            357                                        2nd St at Julian St    37.34113203547954   -121.89284384250641     352  Subscriber              1994          Male                     Yes
17          171  2018-10-31 23:53:14.1570  2018-10-31 23:56:05.5580              133                                     Valencia St at 22nd St             37.7552126            -122.4209752             98                                     Valencia St at 16th St            37.765052          -122.4218661    3610  Subscriber              1993          Male                      No
18         1043  2018-10-31 23:38:35.0020  2018-10-31 23:55:58.6820              341                                 Fountain Alley at S 2nd St      37.33618830029063     -121.88927650451659            357                                        2nd St at Julian St    37.34113203547954   -121.89284384250641    1269  Subscriber              1994          Male                     Yes
19         1006  2018-10-31 23:39:08.2550  2018-10-31 23:55:54.5810              341                                 Fountain Alley at S 2nd St      37.33618830029063     -121.88927650451659            357                                        2nd St at Julian St    37.34113203547954   -121.89284384250641    2823  Subscriber              1993          Male                     Yes

In [12]:
%%time

kdf.shape #quick

Wall time: 2.32 s

(1863721, 16)

In [10]:
%%time

#cols and rows in pyspark:
print((df.count(), len(df.columns)))

(1863721, 16)
Wall time: 2.78 s

In [11]:
%%time

#cols ps:
df.columns

Wall time: 0 ns

['duration_sec',
 'start_time',
 'end_time',
 'start_station_id',
 'start_station_name',
 'start_station_latitude',
 'start_station_longitude',
 'end_station_id',
 'end_station_name',
 'end_station_latitude',
 'end_station_longitude',
 'bike_id',
 'user_type',
 'member_birth_year',
 'member_gender',
 'bike_share_for_all_trip']

In [13]:
%%time 

#cols kdf:
kdf.columns

Wall time: 0 ns

Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'member_birth_year', 'member_gender', 'bike_share_for_all_trip'],
      dtype='object')

In [14]:
%%time

#cols and dtypes ps:
df.printSchema()

root
 |-- duration_sec: string (nullable = true)
 |-- start_time: string (nullable = true)
 |-- end_time: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: string (nullable = true)
 |-- start_station_longitude: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_latitude: string (nullable = true)
 |-- end_station_longitude: string (nullable = true)
 |-- bike_id: string (nullable = true)
 |-- user_type: string (nullable = true)
 |-- member_birth_year: string (nullable = true)
 |-- member_gender: string (nullable = true)
 |-- bike_share_for_all_trip: string (nullable = true)

Wall time: 4.5 ms

In [15]:
%%time

kdf.info()

<class 'databricks.koalas.frame.DataFrame'>
Int64Index: 1863721 entries, 0 to 1863720
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   duration_sec             1863721 non-null  object
 1   start_time               1863721 non-null  object
 2   end_time                 1863721 non-null  object
 3   start_station_id         1863721 non-null  object
 4   start_station_name       1863721 non-null  object
 5   start_station_latitude   1863721 non-null  object
 6   start_station_longitude  1863721 non-null  object
 7   end_station_id           1863721 non-null  object
 8   end_station_name         1863721 non-null  object
 9   end_station_latitude     1863721 non-null  object
 10  end_station_longitude    1863721 non-null  object
 11  bike_id                  1863721 non-null  object
 12  user_type                1863721 non-null  object
 13  member_birth_year        1753003 non-null  object
 14  member_gender            1753354 non-null  object
 15  bike_share_for_all_trip  1863721 non-null  object
dtypes: object(16)Wall time: 45.2 s

In [10]:
%%time

#rename cols ps:
df = df.withColumnRenamed("duration_sec", "dur_sec")\
       .withColumnRenamed("end_station_latitude", "end_station_lat")\
       .withColumnRenamed("end_station_longitude", "end_station_long")

Wall time: 49.9 ms

In [11]:
%%time

kdf = kdf.rename(columns = {"duration_sec": "dur_sec", "end_station_latitude": "end_station_lat",
                      "end_station_longitude": "end_station_long"})

Wall time: 894 ms

In [12]:
%%time

from pyspark.sql.functions import col
#create new col ps:
df = df.withColumn('member_age', 2018 - col('member_birth_year'))
#change new col to int:
df = df.withColumn('member_age', df.member_age.cast('int'))

Wall time: 1.56 s

In [21]:
#test:
df.printSchema()

root
 |-- dur_sec: string (nullable = true)
 |-- start_time: string (nullable = true)
 |-- end_time: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_latitude: string (nullable = true)
 |-- start_station_longitude: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_lat: string (nullable = true)
 |-- end_station_long: string (nullable = true)
 |-- bike_id: string (nullable = true)
 |-- user_type: string (nullable = true)
 |-- member_birth_year: string (nullable = true)
 |-- member_gender: string (nullable = true)
 |-- bike_share_for_all_trip: string (nullable = true)
 |-- member_age: integer (nullable = true)

In [11]:
kdf.columns

Index(['dur_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_lat', 'end_station_long', 'bike_id', 'user_type',
       'member_birth_year', 'member_gender', 'bike_share_for_all_trip'],
      dtype='object')

In [85]:
kdf.isnull().sum()

dur_sec                         0
start_time                      0
end_time                        0
start_station_id                0
start_station_name              0
start_station_latitude          0
start_station_longitude         0
end_station_id                  0
end_station_name                0
end_station_lat                 0
end_station_long                0
bike_id                         0
user_type                       0
member_birth_year          110718
member_gender              110367
bike_share_for_all_trip         0
member_age                 110718
dtype: int64

In [ ]:
#when calculating the age column, kdf returns float ints, whereas ps returns whole numbers. This is the desired format going
#forward as trailing decimals will cause issues when doing computations or aggregations.


#NOTE:
#there are NaNs in age col and pandas/koalas needs to use a float64 type to represent NaNs -> this is why the conversion to
# int returns decimal point(.0)
#SOLUTION -> drop nan values in year col before age calculation in order to return whole numbers

#this is one massive disadvantage in comparison to age calc in pyspark df --> see possible solution below

In [13]:
#drop nans in year col before age calculation:
kdf.dropna(subset=['member_birth_year'], inplace = True)

In [89]:
#test:
kdf.isnull().sum()

dur_sec                    0
start_time                 0
end_time                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_lat            0
end_station_long           0
bike_id                    0
user_type                  0
member_birth_year          0
member_gender              0
bike_share_for_all_trip    0
member_age                 0
dtype: int64

In [14]:
%%time

#new col:
kdf['member_age'] = 2018 - kdf['member_birth_year'].astype(int)
kdf.member_age.dtype

Wall time: 341 ms

dtype('int32')

In [13]:
%%time

#summary stats age in ps:
df.describe(['member_age']).show()

+-------+------------------+
|summary|        member_age|
+-------+------------------+
|  count|           1753003|
|   mean| 34.91203780027758|
| stddev|10.442886209686751|
|    min|                18|
|    max|               137|
+-------+------------------+

Wall time: 30.5 s

In [96]:
%%time

#summary stats age in kdf:
kdf.describe() #why return of floats when age is whole number in df?

Wall time: 2.97 s

         member_age
count  1.753003e+06
mean   3.491204e+01
std    1.044289e+01
min    1.800000e+01
25%    2.700000e+01
50%    3.300000e+01
75%    4.000000e+01
max    1.370000e+02

In [ ]:
#NOTE:

#dropping nan values in year col before calc of age col does return whole numbers to each row of df, however, when displaying
#stats with .describe(), the return values are still floats, which is so flippen annoying -_-


## posible solution:
# use pd.options.display.float_format = "{:.0f}".format  --> do not know the possible consequences\exprnse
#of run time with this

In [13]:
#try panadas method:
import pandas as pd
pd.options.display.float_format = "{:.0f}".format

In [15]:
%%time

# run describe again:
kdf.describe() # now whole numbers are returned instead of floats when pd.option is used

#does not seem to affect run time as runtime is still quicker that pysparkDF.describe()

Wall time: 3.62 s

       member_age
count     1753003
mean           35
std            10
min            18
25%            27
50%            33
75%            40
max           137

In [15]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *
from pyspark.sql import functions as F

In [17]:
#need to drop nan values in order for the below condition to work:
df.na.drop(subset=["member_age"])

DataFrame[dur_sec: string, start_time: string, end_time: string, start_station_id: string, start_station_name: string, start_station_latitude: string, start_station_longitude: string, end_station_id: string, end_station_name: string, end_station_lat: string, end_station_long: string, bike_id: string, user_type: string, member_birth_year: string, member_gender: string, bike_share_for_all_trip: string, member_age: int]

In [16]:
%%time

#create age_category [new_col] ps:
df = df.withColumn(
    'age_group',
    F.when(F.col('member_age').between(18, 25), 'young adult')\
    .when(F.col('member_age').between(26, 40), 'adult')\
    .when(F.col('member_age').between(41, 60), 'middle age')\
    .when((F.col('member_age') > 61), 'mature adult')\
    .otherwise(None)
)

Wall time: 105 ms

In [16]:
%%time

#test:
df.select('age_group').show()

+-----------+
|  age_group|
+-----------+
|      adult|
|       null|
|      adult|
|      adult|
|       null|
| middle age|
|young adult|
| middle age|
|       null|
|      adult|
|young adult|
|      adult|
|       null|
|young adult|
|      adult|
|      adult|
|young adult|
|young adult|
|young adult|
|young adult|
+-----------+
only showing top 20 rows

Wall time: 487 ms

In [ ]:
#why does this age group col have nuls? It shouldn't because all na's were dropped prior to creating the bins.

In [20]:
#nulls in age group col:
#df.filter(df.age_group.isNotNull()).count()
df.filter('age_group is NULL').count() #this is odd because na's were dropped in age col

116686

In [134]:
%%time

df.filter('member_age is NULL').count() #-_-

Wall time: 2.38 s

110718

In [37]:
#set options for below function to run successfully:
ks.set_option('compute.ops_on_diff_frames', True)  #--> dont do this

In [23]:
%%time

#create age group col for kdf with np --> this does not perform well with koalas df(extremely long runtime ~ >5min)

# --> Try if:
def condition(i):
    if (i['member_age'] >= 18) & (i['member_age'] <= 25):
        return 'young_adult'
    elif (i['member_age'] >= 26) & (i['member_age'] <= 40):
        return 'adult'
    elif (i['member_age'] >= 41) & (i['member_age'] <= 60):
        return 'middle age'
    elif (i['member_age'] > 61):
        return 'mature adult'
    else:
        return None
    
kdf['age_group'] = kdf.apply(condition, axis= 1)

#this method has a significantly longer run time that ps

Wall time: 23.2 s

In [17]:
%%time

#try sql statement to see if runtime is quicker:  == it is

kdf2 = ks.sql("select *, \
       CASE \
       WHEN (member_age >= 18 AND member_age <=25) THEN 'young_adult' \
       WHEN (member_age >= 26 AND member_age <=40) THEN 'adult' \
       WHEN (member_age >= 41 AND member_age <=60) THEN 'middle age' \
       ELSE 'mature adult' \
       END AS age_group \
       from {kdf}") #wrap a DataFrame with curly braces to query it directly

# OR to koalas:
#kdf2 = ks.read_sql(query) and then join to kdf on bike_id -> can't join, bike ids are not unique

Wall time: 1.99 s

In [24]:
kdf2.head(3)

  dur_sec                start_time                  end_time start_station_id                                         start_station_name start_station_latitude start_station_longitude end_station_id         end_station_name end_station_lat end_station_long bike_id   user_type member_birth_year member_gender bike_share_for_all_trip  member_age age_group
0   80066  2018-10-31 20:49:03.1400  2018-11-01 19:03:30.0550              138                                     Jersey St at Church St             37.7509004            -122.4274114            147   29th St at Tiffany Ave      37.7440667     -122.4214722    3458    Customer              1987        Female                      No          31     adult
1   44825  2018-10-31 20:07:13.3780  2018-11-01 08:34:19.3670              139                   Garfield Square (25th St at Harrison St)             37.7510171            -122.4119009            122    19th St at Mission St       37.760299      -122.418892    1575    Customer              1983        Female                      No          35     adult
2   55461  2018-10-31 17:06:37.6830  2018-11-01 08:30:59.2200               67  San Francisco Caltrain Station 2  (Townsend St at 4th St)             37.7766392            -122.3955263             16  Steuart St at Market St        37.79413       -122.39443    2978  Subscriber              1992        Female                      No          26     adult

In [26]:
%%time

#test:
kdf2[['age_group']].head()

Wall time: 95.5 ms

     age_group
0        adult
2        adult
3        adult
5   middle age
6  young_adult

In [34]:
%%time

#value counts ps:
df.groupby("age_group").count().orderBy('count', ascending = False).show()

+------------+-------+
|   age_group|  count|
+------------+-------+
|       adult|1031867|
|  middle age| 391699|
| young adult| 292741|
|        null| 116686|
|mature adult|  30728|
+------------+-------+

Wall time: 3.22 s

In [46]:
df.groupby("user_type").count().orderBy('count', ascending = False).show()

+----------+-------+
| user_type|  count|
+----------+-------+
|Subscriber|1583554|
|  Customer| 280167|
+----------+-------+

In [25]:
%%time

#value_counts kdf:
kdf2.age_group.value_counts()

Wall time: 113 ms

adult           1031867
middle age       391699
young_adult      292741
mature adult      36696
Name: age_group, dtype: int64

In [19]:
%%time

#prepare for join time comparison:
#use sql query to create new spark df and then do a join to combine new col to existing df:
#df.createOrReplaceTempView("temp")

#df2 = spark.sql("""select bike_id, CASE WHEN user_type = 'Customer' THEN 'yes' ELSE 'no' END AS is_member from temp""")
#code has to be in one line otherwise an error is thrown

Wall time: 60.8 ms

%%time

#create new column based on condition:

df = df.withColumn(
    'is_member',
    F.when(F.col('user_type') == 'Customer', 'yes') \
    .otherwise(None)
)

In [18]:
%%time

#inspect new df:
#df2.show()

Wall time: 0 ns

In [35]:
#spark.catalog.dropTempView("temp")

#DO NOT JOIN: BIKE ID's ARE NOT UNIQUE.

%%time 

#prepare for join time comparison:
#use sql query to create new koalas df and then do a join to combine new col to existing df:

kd = ks.sql('''select bike_id, CASE WHEN user_type = 'Customer' THEN 'yes' ELSE 'no' END as is_member from {kdf}''')
#code has to be in one line otherwise an error is thrown

In [58]:
%%time

#inspect df:
#kd.head(20)

Wall time: 88.9 ms

   bike_id is_member
0     3458       yes
1     1575       yes
2     2978        no
3     1466       yes
4     4452        no
5     4050        no
6     1525        no
7     4436        no
8     2103        no
9      254        no
10    1908        no
11    1321        no
12     352        no
13    3610        no
14    1269        no
15    2823        no
16     421        no
17    1615        no
18     443        no
19    3092       yes

In [43]:
#kdf.bike_id.nunique()

5054

%%time

#join new ps df with old one:
df = df.join(df2, df.bike_id == df2.bike_id, 'inner')

In [19]:
#test:
#df.groupby("is_member").count().orderBy('count', ascending = False).show()
#df has more counts than kdf because nulls where not sucessfully removed from ps(df)

In [20]:
%%time

#df.select('age_group', 'member_age', 'is_member').show()

Wall time: 0 ns

%%time

kdf = kdf2.merge(kd, on = 'bike_id', how = 'inner')

In [21]:
#test:
#kdf.is_member.value_counts()

In [22]:
%%time

#kdf[['age_group', 'member_age', 'is_member']].head()

Wall time: 0 ns

In [ ]:
%%time

#calculare distance between start station and end station:

In [18]:
%%time

#create a duration minutes col ps:
df = df.withColumn('dur_min', col('dur_sec') / 60)
#change new col to float:
df = df.withColumn('dur_min', df.dur_min.cast('float'))

Wall time: 37.9 ms

In [43]:
%%time

#create a duration minutes col kdf:
#convert dur_min to int:
kdf['dur_sec'] = kdf['dur_sec'].astype(float)
kdf['dur_min'] = kdf['dur_sec'] / 60

Wall time: 445 ms

In [44]:
kdf.dur_min.dtype

dtype('float64')

In [20]:
%%time

#change cols to timestamp:
from pyspark.sql.types import DateType
df = df.withColumn('start_dt', df['start_time'].cast(DateType()))

Wall time: 73.6 ms

In [28]:
df.select('start_time', 'start_dt', 'dur_min').show()

+--------------------+----------+---------+
|          start_time|  start_dt|  dur_min|
+--------------------+----------+---------+
|2018-10-31 20:49:...|2018-10-31|1334.4333|
|2018-10-31 20:18:...|2018-10-31| 940.4667|
|2018-10-31 20:07:...|2018-10-31| 747.0833|
|2018-10-31 17:06:...|2018-10-31|   924.35|
|2018-10-31 18:27:...|2018-10-31|    795.4|
|2018-10-31 20:54:...|2018-10-31| 546.9667|
|2018-10-31 21:43:...|2018-10-31|    314.8|
|2018-10-31 23:44:...|2018-10-31|29.766666|
|2018-10-31 23:00:...|2018-10-31|73.183334|
|2018-10-31 23:40:...|2018-10-31|     29.2|
|2018-10-31 23:58:...|2018-10-31| 9.616667|
|2018-10-31 23:53:...|2018-10-31|11.483334|
|2018-10-31 23:51:...|2018-10-31| 9.716666|
|2018-10-31 23:57:...|2018-10-31|4.0833335|
|2018-10-31 23:46:...|2018-10-31|    12.75|
|2018-10-31 23:43:...|2018-10-31|12.933333|
|2018-10-31 23:38:...|2018-10-31|17.683332|
|2018-10-31 23:53:...|2018-10-31|     2.85|
|2018-10-31 23:38:...|2018-10-31|17.383333|
|2018-10-31 23:39:...|2018-10-31|16.766666|
+--------------------+----------+---------+
only showing top 20 rows

In [21]:
%%time

#change dtype in kdf:
kdf['start_time'] = ks.to_datetime(kdf['start_time'])

C:\Spark\spark-3.1.1-bin-hadoop2.7\python\pyspark\sql\pandas\functions.py:392: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  "in the future releases. See SPARK-28264 for more details.", UserWarning)

Wall time: 1.08 s

In [27]:
#test:
kdf.start_time.dtype

dtype('<M8')

In [30]:
#test:
kdf.head(3)

   dur_sec              start_time                  end_time start_station_id                                         start_station_name start_station_latitude start_station_longitude end_station_id         end_station_name end_station_lat end_station_long bike_id   user_type member_birth_year member_gender bike_share_for_all_trip  member_age      dur_min
0    80066 2018-10-31 20:49:03.140  2018-11-01 19:03:30.0550              138                                     Jersey St at Church St             37.7509004            -122.4274114            147   29th St at Tiffany Ave      37.7440667     -122.4214722    3458    Customer              1987        Female                      No          31  1334.433333
1    44825 2018-10-31 20:07:13.378  2018-11-01 08:34:19.3670              139                   Garfield Square (25th St at Harrison St)             37.7510171            -122.4119009            122    19th St at Mission St       37.760299      -122.418892    1575    Customer              1983        Female                      No          35   747.083333
2    55461 2018-10-31 17:06:37.683  2018-11-01 08:30:59.2200               67  San Francisco Caltrain Station 2  (Townsend St at 4th St)             37.7766392            -122.3955263             16  Steuart St at Market St        37.79413       -122.39443    2978  Subscriber              1992        Female                      No          26   924.350000

In [21]:
%%time

#extract weekday from start_time in kdf:
kdf['weekday'] = kdf['start_time'].dt.weekday

Wall time: 320 ms

In [32]:
#test:
kdf['weekday'].value_counts() #0: monday - 6:sunday

1    304791
2    302138
3    299465
0    280420
4    274484
5    155466
6    136239
Name: weekday, dtype: int64

In [22]:
%%time

#try get weekday name for koalas df:
kdf['dow'] = kdf['start_time'].dt.day_name()

Wall time: 299 ms

In [59]:
kdf['dow'].value_counts()

Tuesday      304791
Wednesday    302138
Thursday     299465
Monday       280420
Friday       274484
Saturday     155466
Sunday       136239
Name: dow, dtype: int64

In [23]:
%%time

#from pyspark.sql.functions import dayofweek #use this package for weekday numeric representaion.

from pyspark.sql.functions import date_format
#extract weekday name from start_dt in ps:
df = df.withColumn('weekday',date_format(col("start_time"), "EEEE"))

Wall time: 19.9 ms

In [53]:
df.select('weekday').dtypes

[('weekday', 'string')]

In [56]:
#test:
df.groupBy('weekday').count().orderBy('count', ascending = False).show()

+---------+------+
|  weekday| count|
+---------+------+
|  Tuesday|319332|
|Wednesday|316374|
| Thursday|314124|
|   Monday|294573|
|   Friday|290390|
| Saturday|175614|
|   Sunday|153314|
+---------+------+

In [24]:
%%time

#use groupby to aggregate data by mean and append it to kdf:
kdf_mean = kdf.groupby('bike_id')['dur_min'].mean()

Wall time: 222 ms

In [64]:
%%time

#test:
kdf_mean.head(20)

Wall time: 66.8 ms

bike_id
1159    11.160152
1572    11.281767
829     11.882234
2136    13.294210
691     12.223280
2069    12.857402
3210    14.305975
1436    12.110904
3606    10.240434
2088    13.918226
1090    12.188984
296     11.300552
1512    14.548297
2904    14.473254
3414    13.786477
467     14.422379
3959    11.391667
4032    18.876368
675     10.362865
4821    12.435714
Name: dur_min, dtype: float64

In [25]:
%%time

#average duration min for each bike ride ps:
ps_mean = df.groupBy("bike_id").mean( "dur_min")

Wall time: 24.9 ms

In [66]:
%%time

#test:
ps_mean.show()

+-------+------------------+
|bike_id|      avg(dur_min)|
+-------+------------------+
|   1159|11.888165257558102|
|   1572|11.366237925946521|
|    829|12.824093171351931|
|   2136|14.786178128883757|
|    691|13.902967401711098|
|   2069|15.484368357670473|
|   3210|15.126336506093448|
|   1436|15.730126621451559|
|   3606|10.515544849232985|
|   2088|15.730566895900129|
|   1090|14.019126026077968|
|    296|12.746385517608688|
|   1512|15.077571417263576|
|   2904|15.723533301030175|
|   3414|15.505172469287084|
|    467| 16.10021366064365|
|   3959|11.535706902805128|
|   4032|22.282628939185344|
|    675|10.707062197943864|
|   4821|12.093939372084357|
+-------+------------------+
only showing top 20 rows

Wall time: 6.23 s

In [26]:
%%time

#join the mean calc to kdf:
kdf = kdf.merge(kdf_mean)

Wall time: 1.98 s

In [27]:
%%time

#join the mean cals to ps:
df = df.join(ps_mean, 'bike_id', 'inner')

Wall time: 60.8 ms

In [28]:
%%time

#calculate distance:
import math
def distance(origin1, origin2, dest1, dest2):
    """
    Parameters
    ----------
    origin : tuple of float-->start station
        (lat, long)
    destination : tuple of float-->end station
        (lat, long)

    Returns
    -------
    distance_in_km : float
    """
    lat1 = origin1
    lon1 = origin2
    lat2 = dest1
    lon2 = dest2
    radius = 6371  # km

    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c

    return d

Wall time: 0 ns

In [29]:
%%time

#long and lat to string:  --> have to convert to string first for function to execute succesfully

cols = ['start_station_longitude','start_station_latitude', 'end_station_long','end_station_lat']
for col_name in cols:
    df = df.withColumn(col_name, col(col_name).cast('float'))

Wall time: 52.9 ms

In [30]:
%%time

#Create udf to apply it to ps df:

km = udf(distance, FloatType())

Wall time: 0 ns

In [31]:
%%time

#apply function to create distance col ps:
df = df.withColumn('distance_km', km(df.start_station_latitude, df.start_station_longitude, df.end_station_lat,
                                 df.end_station_long))

Wall time: 39.9 ms

In [48]:
#test:
df.select('distance_km', 'dur_min').show()

+-----------+---------+
|distance_km|  dur_min|
+-----------+---------+
| 0.71572316| 4.383333|
|  3.3172247|17.633333|
|  1.6952463|10.283334|
|   0.885981|      4.4|
|  2.3261278|12.333333|
|  0.6012847|      3.9|
|  1.5424327|6.0833335|
|  1.2706691| 8.966666|
|   2.025812|14.633333|
|  1.7909632|     13.1|
|        0.0|334.11667|
|   2.423492|12.566667|
|   2.132937|    10.55|
|  1.9964571|27.166666|
|  1.4335872|77.833336|
|  0.7011822| 8.233334|
|  0.7011822|     3.95|
|  0.7011822|39.933334|
|  1.9563731|    35.85|
|  1.0654027| 9.616667|
+-----------+---------+
only showing top 20 rows

In [32]:
%%time

#change dtype:

cols = ['start_station_longitude','start_station_latitude', 'end_station_long','end_station_lat']
for col_name in cols:
    kdf[col_name] = kdf[col_name].astype(float)

Wall time: 887 ms

In [38]:
%%time

#apply function to create distance column in kdf:
kdf['distance_km'] = kdf.apply(lambda i: distance(i['start_station_longitude'],i['start_station_latitude'],
                            i['end_station_long'],i['end_station_lat']), axis=1)

Wall time: 1min 14s

In [58]:
#test:
kdf[['distance_km', 'dur_min']].head()

             distance_km    dur_min
26              3.459368  10.650000
29              1.416776  10.650000
474             2.147084  10.650000
964             1.431382  10.650000
17179869487     1.214015  13.266667

In [39]:
%%time

#calc hours ps:
df = df.withColumn('dur_hrs', col('dur_min') / 60)
#change new col to float:
df = df.withColumn('dur_hrs', df.dur_min.cast('float'))

Wall time: 34.9 ms

In [45]:
%%time

#calc hrs kdf:
kdf['dur_hrs'] = kdf['dur_min'] / 60
#change col to float:
kdf['dur_hrs'] = kdf.dur_hrs.astype(float)

Wall time: 573 ms

In [50]:
#create a udf to round off agg values in df:

from pyspark.sql.functions import pandas_udf, PandasUDFType

@pandas_udf("float", PandasUDFType.GROUPED_AGG)
def sum_udf(v):
    return round(v.sum(), 2)
spark.udf.register("sum_udf", sum_udf)

In [52]:
%%time


#sum of hrs travelled and distance each weekday ps:

#GroupBy and sum multiple columns:
df.groupBy("weekday") \
    .agg({"dur_hrs": 'sum_udf',"distance_km": 'sum_udf'}) \
    .show()

+---------+----------------+--------------------+
|  weekday|sum_udf(dur_hrs)|sum_udf(distance_km)|
+---------+----------------+--------------------+
|Wednesday|       4050046.5|           509488.38|
|  Tuesday|       4063969.5|           512289.47|
|   Friday|       3995384.2|            464876.7|
| Thursday|       4078651.8|           504538.38|
| Saturday|       3510188.8|           271642.47|
|   Monday|       3842117.8|           470992.88|
|   Sunday|       3089187.5|           231227.31|
+---------+----------------+--------------------+

Wall time: 2min 33s

In [51]:
#%%time

#kdf.groupby('dow')[['dur_hrs', 'distance_km']].sum()

In [56]:
%%time

#sum of hrs travelled and distance each weekday kdf:
kdf.groupby('dow').agg({'dur_hrs': 'sum', 'distance_km': 'sum'}).round(2)# this computation is wrong

Wall time: 328 ms

           dur_hrs  distance_km
dow
Wednesday  1565.05     13258.42
Tuesday    1538.46     13146.52
Friday     1355.92     11345.17
Thursday   1522.83     12889.84
Saturday    751.81      5873.25
Monday     1429.80     12164.80
Sunday      652.83      5019.99

In [ ]:
#filter:

In [67]:
%%time

#create subset for males and females ps:

df_males = df.filter(df.member_gender == 'Male').show()
df_females = df.filter(df.member_gender == 'Female').show()

+-------+-------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+---------------+----------------+----------+-----------------+-------------+-----------------------+----------+-----------+---------+----------+---------+------------------+-----------+---------+
|bike_id|dur_sec|          start_time|            end_time|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_lat|end_station_long| user_type|member_birth_year|member_gender|bike_share_for_all_trip|member_age|  age_group|  dur_min|  start_dt|  weekday|      avg(dur_min)|distance_km|  dur_hrs|
+-------+-------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+---------------+----------------+----------+-----------------+-------------+-----------------------+----------+-----------+---------+----------+---------+------------------+-----------+---------+
|   1090|    263|2018-10-30 17:37:...|2018-10-30 17:42:...|             126|         Esprit Park|             37.761635|             -122.39065|           355|23rd St at Tennes...|      37.755367|     -122.388794|Subscriber|             1979|         Male|                     No|        39|      adult| 4.383333|2018-10-30|  Tuesday|14.019126026077968| 0.71572316| 4.383333|
|   1090|    617|2018-10-30 10:10:...|2018-10-30 10:20:...|              67|San Francisco Cal...|             37.776638|             -122.39552|            23|The Embarcadero a...|      37.791466|      -122.39104|Subscriber|             1986|         Male|                     No|        32|      adult|10.283334|2018-10-30|  Tuesday|14.019126026077968|  1.6952463|10.283334|
|   1090|    740|2018-10-30 08:18:...|2018-10-30 08:31:...|              85|Church St at Dubo...|             37.770084|             -122.42915|            90|Townsend St at 7t...|      37.771057|      -122.40272|Subscriber|             1980|         Male|                     No|        38|      adult|12.333333|2018-10-30|  Tuesday|14.019126026077968|  2.3261278|12.333333|
|   1090|    365|2018-10-29 08:00:...|2018-10-29 08:06:...|              58|Market St at 10th St|              37.77662|             -122.41738|             3|Powell St BART St...|      37.786377|      -122.40491|Subscriber|             1986|         Male|                     No|        32|      adult|6.0833335|2018-10-29|   Monday|14.019126026077968|  1.5424327|6.0833335|
|   1090|    538|2018-10-28 22:37:...|2018-10-28 22:46:...|               4|Cyril Magnin St a...|              37.78588|             -122.40891|            58|Market St at 10th St|       37.77662|      -122.41738|Subscriber|             2000|         Male|                     No|        18|young adult| 8.966666|2018-10-28|   Sunday|14.019126026077968|  1.2706691| 8.966666|
|   1090|    878|2018-10-26 17:59:...|2018-10-26 18:14:...|              81|  Berry St at 4th St|              37.77588|             -122.39317|            43|San Francisco Pub...|      37.778767|      -122.41593|Subscriber|             1970|         Male|                     No|        48| middle age|14.633333|2018-10-26|   Friday|14.019126026077968|   2.025812|14.633333|
|   1090|    754|2018-10-26 09:12:...|2018-10-26 09:24:...|              93|4th St at Mission...|              37.77041|              -122.3912|            20|Mechanics Monumen...|        37.7913|      -122.39905|Subscriber|             1989|         Male|                     No|        29|      adult|12.566667|2018-10-26|   Friday|14.019126026077968|   2.423492|12.566667|
|   1090|    633|2018-10-26 08:55:...|2018-10-26 09:06:...|               5|Powell St BART St...|               37.7839|             -122.40845|            93|4th St at Mission...|       37.77041|       -122.3912|Subscriber|             1995|         Male|                     No|        23|young adult|    10.55|2018-10-26|   Friday|14.019126026077968|   2.132937|    10.55|
|   1090|   4670|2018-10-25 16:14:...|2018-10-25 17:32:...|              58|Market St at 10th St|              37.77662|             -122.41738|           285|Webster St at O'F...|       37.78352|      -122.43116|  Customer|             1982|         Male|                     No|        36|      adult|77.833336|2018-10-25| Thursday|14.019126026077968|  1.4335872|77.833336|
|   1090|    494|2018-10-25 15:53:...|2018-10-25 16:02:...|              44|Civic Center/UN P...|             37.781075|            -122.411736|            58|Market St at 10th St|       37.77662|      -122.41738|Subscriber|             1996|         Male|                     No|        22|young adult| 8.233334|2018-10-25| Thursday|14.019126026077968|  0.7011822| 8.233334|
|   1090|    237|2018-10-25 14:36:...|2018-10-25 14:40:...|              58|Market St at 10th St|              37.77662|             -122.41738|            44|Civic Center/UN P...|      37.781075|     -122.411736|Subscriber|             1996|         Male|                     No|        22|young adult|     3.95|2018-10-25| Thursday|14.019126026077968|  0.7011822|     3.95|
|   1090|   2396|2018-10-25 13:45:...|2018-10-25 14:25:...|              44|Civic Center/UN P...|             37.781075|            -122.411736|            58|Market St at 10th St|       37.77662|      -122.41738|Subscriber|             2000|         Male|                     No|        18|young adult|39.933334|2018-10-25| Thursday|14.019126026077968|  0.7011822|39.933334|
|   1090|   2151|2018-10-25 13:01:...|2018-10-25 13:37:...|             223|16th St Mission B...|             37.764767|             -122.42009|            44|Civic Center/UN P...|      37.781075|     -122.411736|Subscriber|             1978|         Male|                     No|        40|      adult|    35.85|2018-10-25| Thursday|14.019126026077968|  1.9563731|    35.85|
|   1090|    577|2018-10-24 17:18:...|2018-10-24 17:27:...|             133|Valencia St at 22...|              37.75521|            -122.420975|           223|16th St Mission B...|      37.764767|      -122.42009|Subscriber|             1985|         Male|                    Yes|        33|      adult| 9.616667|2018-10-24|Wednesday|14.019126026077968|  1.0654027| 9.616667|
|   1090|    596|2018-10-24 15:21:...|2018-10-24 15:31:...|              73|Pierce St at Haig...|             37.771793|             -122.43371|           133|Valencia St at 22...|       37.75521|     -122.420975|Subscriber|             1985|         Male|                    Yes|        33|      adult| 9.933333|2018-10-24|Wednesday|14.019126026077968|  2.1570408| 9.933333|
|   1090|   1101|2018-10-24 15:00:...|2018-10-24 15:18:...|              42|San Francisco Cit...|              37.77865|             -122.41823|            73|Pierce St at Haig...|      37.771793|      -122.43371|Subscriber|             1986|         Male|                     No|        32|      adult|    18.35|2018-10-24|Wednesday|14.019126026077968|  1.5595237|    18.35|
|   1090|    575|2018-10-24 13:20:...|2018-10-24 13:30:...|              86|Market St at Dolo...|             37.769306|             -122.42683|            42|San Francisco Cit...|       37.77865|      -122.41823|Subscriber|             1977|         Male|                     No|        41| middle age| 9.583333|2018-10-24|Wednesday|14.019126026077968|  1.2846152| 9.583333|
|   1090|    386|2018-10-24 10:57:...|2018-10-24 11:03:...|              71|Broderick St at O...|             37.773064|             -122.43908|            86|Market St at Dolo...|      37.769306|      -122.42683|Subscriber|             1976|         Male|                     No|        42| middle age|6.4333334|2018-10-24|Wednesday|14.019126026077968|  1.1551728|6.4333334|
|   1090|    839|2018-10-23 08:05:...|2018-10-23 08:19:...|             147|29th St at Tiffan...|              37.74407|             -122.42147|            58|Market St at 10th St|       37.77662|      -122.41738|Subscriber|             1984|         Male|                     No|        34|      adult|13.983334|2018-10-23|  Tuesday|14.019126026077968|  3.6372936|13.983334|
|   1090|   1268|2018-10-22 21:20:...|2018-10-22 21:41:...|              44|Civic Center/UN P...|             37.781075|            -122.411736|           147|29th St at Tiffan...|       37.74407|      -122.42147|Subscriber|             1994|         Male|                     No|        24|young adult|21.133333|2018-10-22|   Monday|14.019126026077968|   4.202966|21.133333|
+-------+-------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+---------------+----------------+----------+-----------------+-------------+-----------------------+----------+-----------+---------+----------+---------+------------------+-----------+---------+
only showing top 20 rows

+-------+-------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+---------------+----------------+----------+-----------------+-------------+-----------------------+----------+-----------+---------+----------+---------+------------------+-----------+---------+
|bike_id|dur_sec|          start_time|            end_time|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_lat|end_station_long| user_type|member_birth_year|member_gender|bike_share_for_all_trip|member_age|  age_group|  dur_min|  start_dt|  weekday|      avg(dur_min)|distance_km|  dur_hrs|
+-------+-------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+---------------+----------------+----------+-----------------+-------------+-----------------------+----------+-----------+---------+----------+---------+------------------+-----------+---------+
|   1090|   1058|2018-10-30 17:12:...|2018-10-30 17:30:...|              23|The Embarcadero a...|             37.791466|             -122.39104|           126|         Esprit Park|      37.761635|      -122.39065|Subscriber|             1990|       Female|                     No|        28|      adult|17.633333|2018-10-30|  Tuesday|14.019126026077968|  3.3172247|17.633333|
|   1090|    264|2018-10-30 09:54:...|2018-10-30 09:58:...|              90|Townsend St at 7t...|             37.771057|             -122.40272|            67|San Francisco Cal...|      37.776638|      -122.39552|Subscriber|             1989|       Female|                     No|        29|      adult|      4.4|2018-10-30|  Tuesday|14.019126026077968|   0.885981|      4.4|
|   1090|    234|2018-10-29 08:37:...|2018-10-29 08:41:...|               3|Powell St BART St...|             37.786377|             -122.40491|            36| Folsom St at 3rd St|       37.78383|      -122.39887|Subscriber|             1995|       Female|                     No|        23|young adult|      3.9|2018-10-29|   Monday|14.019126026077968|  0.6012847|      3.9|
|   1090|    786|2018-10-26 17:14:...|2018-10-26 17:27:...|              20|Mechanics Monumen...|               37.7913|             -122.39905|            81|  Berry St at 4th St|       37.77588|      -122.39317|Subscriber|             1990|       Female|                     No|        28|      adult|     13.1|2018-10-26|   Friday|14.019126026077968|  1.7909632|     13.1|
|   1090|   1006|2018-10-23 08:46:...|2018-10-23 09:02:...|              58|Market St at 10th St|              37.77662|             -122.41738|            11|Davis St at Jacks...|       37.79728|      -122.39844|Subscriber|             1992|       Female|                     No|        26|      adult|16.766666|2018-10-23|  Tuesday|14.019126026077968|  2.8370795|16.766666|
|   1090|    376|2018-10-22 14:51:...|2018-10-22 14:58:...|              76|McCoppin St at Va...|             37.771664|            -122.422424|            61| Howard St at 8th St|      37.776512|      -122.41131|Subscriber|             1977|       Female|                     No|        41| middle age| 6.266667|2018-10-22|   Monday|14.019126026077968|  1.1158882| 6.266667|
|   1090|    422|2018-10-22 14:24:...|2018-10-22 14:31:...|              99|Folsom St at 15th St|             37.767036|             -122.41544|            76|McCoppin St at Va...|      37.771664|     -122.422424|Subscriber|             1975|       Female|                     No|        43| middle age|7.0333333|2018-10-22|   Monday|14.019126026077968|  0.8007782|7.0333333|
|   1090|   1064|2018-10-20 17:23:...|2018-10-20 17:41:...|             126|         Esprit Park|             37.761635|             -122.39065|            61| Howard St at 8th St|      37.776512|      -122.41131|  Customer|             1989|       Female|                     No|        29|      adult|17.733334|2018-10-20| Saturday|14.019126026077968|  2.4565291|17.733334|
|   1090|    598|2018-10-17 19:08:...|2018-10-17 19:18:...|              21|Montgomery St BAR...|             37.789627|             -122.40081|            43|San Francisco Pub...|      37.778767|      -122.41593|Subscriber|             1992|       Female|                     No|        26|      adult| 9.966666|2018-10-17|Wednesday|14.019126026077968|  1.7956246| 9.966666|
|   1090|   1349|2018-10-16 18:26:...|2018-10-16 18:48:...|              21|Montgomery St BAR...|             37.789627|             -122.40081|           126|         Esprit Park|      37.761635|      -122.39065|Subscriber|             1989|       Female|                     No|        29|      adult|22.483334|2018-10-16|  Tuesday|14.019126026077968|  3.2382107|22.483334|
|   1090|    559|2018-10-16 08:16:...|2018-10-16 08:26:...|              80|Townsend St at 5t...|             37.775307|             -122.39738|            61| Howard St at 8th St|      37.776512|      -122.41131|Subscriber|             1989|       Female|                     No|        29|      adult| 9.316667|2018-10-16|  Tuesday|14.019126026077968|  1.2317328| 9.316667|
|   1090|    270|2018-10-15 06:10:...|2018-10-15 06:14:...|              17|Embarcadero BART ...|              37.79225|             -122.39709|            27|Beale St at Harri...|       37.78806|      -122.39187|Subscriber|             1970|       Female|                     No|        48| middle age|      4.5|2018-10-15|   Monday|14.019126026077968|  0.6539076|      4.5|
|   1090|    704|2018-10-12 09:04:...|2018-10-12 09:16:...|               6|The Embarcadero a...|              37.80477|             -122.40324|            27|Beale St at Harri...|       37.78806|      -122.39187|Subscriber|             1984|       Female|                     No|        34|      adult|11.733334|2018-10-12|   Friday|14.019126026077968|  2.1097379|11.733334|
|   1090|    189|2018-10-10 16:58:...|2018-10-10 17:01:...|              19|Post St at Kearny St|             37.788975|             -122.40345|             3|Powell St BART St...|      37.786377|      -122.40491|Subscriber|             1991|       Female|                     No|        27|      adult|     3.15|2018-10-10|Wednesday|14.019126026077968|  0.3159743|     3.15|
|   1090|    347|2018-10-10 08:21:...|2018-10-10 08:27:...|             119|   18th St at Noe St|             37.761047|             -122.43264|           223|16th St Mission B...|      37.764767|      -122.42009|Subscriber|             1993|       Female|                     No|        25|young adult|5.7833333|2018-10-10|Wednesday|14.019126026077968|   1.178213|5.7833333|
|   1090|    701|2018-10-09 19:05:...|2018-10-09 19:17:...|             123|Folsom St at 19th St|             37.760593|             -122.41482|           119|   18th St at Noe St|      37.761047|      -122.43264|Subscriber|             1971|       Female|                     No|        47| middle age|11.683333|2018-10-09|  Tuesday|14.019126026077968|  1.5675293|11.683333|
|   1090|    984|2018-10-09 18:36:...|2018-10-09 18:52:...|              30|San Francisco Cal...|               37.7766|             -122.39528|           123|Folsom St at 19th St|      37.760593|      -122.41482|Subscriber|             1987|       Female|                     No|        31|      adult|     16.4|2018-10-09|  Tuesday|14.019126026077968|  2.4733424|     16.4|
|   1090|    375|2018-10-09 18:01:...|2018-10-09 18:08:...|              44|Civic Center/UN P...|             37.781075|            -122.411736|             3|Powell St BART St...|      37.786377|      -122.40491|Subscriber|             1988|       Female|                     No|        30|      adult|     6.25|2018-10-09|  Tuesday|14.019126026077968| 0.84126264|     6.25|
|   1090|    808|2018-10-09 16:16:...|2018-10-09 16:30:...|              23|The Embarcadero a...|             37.791466|             -122.39104|            90|Townsend St at 7t...|      37.771057|      -122.40272|Subscriber|             1990|       Female|                     No|        28|      adult|13.466666|2018-10-09|  Tuesday|14.019126026077968|  2.4907138|13.466666|
|   1090|    970|2018-10-08 07:35:...|2018-10-08 07:51:...|              24|Spear St at Folso...|             37.789677|             -122.39043|            93|4th St at Mission...|       37.77041|       -122.3912|Subscriber|             1988|       Female|                     No|        30|      adult|16.166666|2018-10-08|   Monday|14.019126026077968|  2.1435778|16.166666|
+-------+-------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+---------------+----------------+----------+-----------------+-------------+-----------------------+----------+-----------+---------+----------+---------+------------------+-----------+---------+
only showing top 20 rows

Wall time: 51.7 s

In [70]:
%%time

#create subset males and females kdf:
kdf_males = kdf[kdf.member_gender == 'Male']
kdf_females = kdf[kdf.member_gender == 'Female']

Wall time: 828 ms

In [71]:
#test males ps:
df_males.select('dur_hrs', 'distance_km').show()

AttributeError: 'NoneType' object has no attribute 'select'

In [72]:
kdf_males[['dur_hrs', 'distance_km']].head(20)

               dur_hrs  distance_km
26            0.177500     3.459368
29            0.177500     1.416776
474           0.177500     2.147084
964           0.177500     1.431382
17179869487   0.221111     1.214015
17179870343   0.221111     2.176397
214748365609  0.208333     1.150987
214748365806  0.208333     1.455958
214748365895  0.208333     1.168009
214748365962  0.208333     2.461159
231928233998  0.356667     3.550279
266287972820  0.095000     1.332660
266287972912  0.095000     0.804855
266287973252  0.095000     0.588723
266287973948  0.095000     1.032265
266287974013  0.095000     1.019798
266287974195  0.095000     1.129878
266287974588  0.095000     0.867195
326417514780  0.285556     2.900348
326417514854  0.285556     2.635602

In [ ]:
#trim whitespaces columns: